* {
    box-sizing: border-box;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .header {
    color: #ffffff;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  
  /* If the screen size is 601px or more, set the font-size of <div> to 80px */
  @media only screen and (min-width: 601px) {
    div.footer {
      font-size: auto;
    }
  }
  
  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 600px) {
    div.footer {
      font-size: auto;
    }
  }

  .topnav {
    overflow: hidden;
    background: (255, 254, 254, 0) /* background with 0% opacity */;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: (255, 254, 254, 0) /* Green background with 0% opacity */;
    color: red;
  }
  
  .topnav a.active {
    background-color: (255, 254, 254, 0) /* Green background with 0% opacity */;
    color: (255, 254, 254, 0) /* Green background with 0% opacity */;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    /* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 254, 254, 0) /* background with 0% opacity */;;
  color: red;
}
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

   
  img {
    object-fit: cover;
    height: 100%;
  }
  
  .button {
    background-color: #cc5500; 
    border: none;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Calligraffitti';
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  body {
    background-color: black;
    font-family: 'Calligraffitti';
    font-size: auto;
    color: #fffffffc;
  }
  
  .header {
    font-family: 'Calligraffitti';
    font-size: large;
    font-weight: bolder;
  }
  
  
  
  
  
  
    